@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  /* updates in +layout.svelte */
  --scrollbar-width: 0px;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  /* font-family: 'Work Sans', sans-serif; */
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Nunito Sans', sans-serif; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Prevent body scrolling when menu is open */
body:has(.show-menu.overflowing),
body:has(.no-scroll) {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}

body:has(.show-menu.overflowing) #toggle_menu {
  right: var(--scrollbar-width);
}

@layer base {
  /* Typography */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote {
    /* font-family: 'Cormorant Garamond', serif; */
    /* font-family: 'Quicksand', sans-serif; */
  }

  h1 {
    @apply text-4xl font-bold;
    @apply mb-4;
  }
  h2 {
    @apply text-3xl font-bold;
    @apply mb-4;
  }
  h3 {
    @apply text-2xl font-bold;
    @apply mb-2;
  }
  h4 {
    @apply text-xl font-bold;
  }
  h5 {
    @apply text-lg font-bold;
    /* font-size: 1.3rem; */
  }
  h6 {
    @apply text-lg font-semibold;
  }

  blockquote {
    @apply text-xl font-semibold italic;
    /* line-height: 1.2; */
  }

  p,
  li {
    @apply text-lg;
    font-size: 1rem;
    line-height: 1.4;
  }

  a {
    @apply text-link underline underline-offset-4 transition active:text-link/80 hoverable:hover:text-link/80;
  }

  footer a {
    @apply text-link-contrast underline underline-offset-4 transition active:text-link-active hoverable:hover:text-link-hover;
  }

  /* Trying out new fonts: */
  #imprint p {
    font-size: 18px;
  }
  #imprint div h3:nth-of-type(1),
  #imprint div h3:nth-of-type(1) + p,
  #imprint div h3:nth-of-type(1) + p + p {
    font-family: 'Cormorant Garamond', serif;
  }
  #imprint div h3:nth-of-type(5),
  #imprint div h3:nth-of-type(5) + p,
  #imprint div h3:nth-of-type(5) + p + p {
    font-family: 'Lato', sans-serif;
  }
  #imprint div h3:nth-of-type(6),
  #imprint div h3:nth-of-type(6) + p,
  #imprint div h3:nth-of-type(6) + p + p {
    font-family: 'Nunito Sans', sans-serif;
  }
  #imprint div h3:nth-of-type(7),
  #imprint div h3:nth-of-type(7) + p,
  #imprint div h3:nth-of-type(7) + p + p {
    font-family: 'Quicksand', sans-serif;
  }
  #imprint div h3:nth-of-type(8),
  #imprint div h3:nth-of-type(8) + p,
  #imprint div h3:nth-of-type(8) + p + p {
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Spectral', serif;
  }
  #imprint div h3:nth-of-type(11),
  #imprint div h3:nth-of-type(11) + p,
  #imprint div h3:nth-of-type(11) + p + p {
    font-family: 'Work Sans', sans-serif;
  }
  #imprint div h3:nth-of-type(12),
  #imprint div h3:nth-of-type(12) + p,
  #imprint div h3:nth-of-type(12) + p + p {
    font-family: 'Lora', serif;
  }
  #imprint div h3:nth-of-type(13),
  #imprint div h3:nth-of-type(13) + p,
  #imprint div h3:nth-of-type(13) + p + p {
    font-family: 'Domine', serif;
  }
}

@layer utilities {
  .logo-shadow {
    filter: drop-shadow(-4px 8px 8px theme('colors.dark-blue / 0.25'));
  }
  .btn-shadow {
    filter: drop-shadow(0 3px 6px theme('colors.dark-blue / 0.25'));
    @apply transition;
    transition-timing-function: ease-in-out;
  }
  .btn-shadow-hover {
    filter: drop-shadow(0 3px 6px theme('colors.dark-blue / 0.4'));
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
